apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5103"
    spec:
      containers:
        - name: user-service
          image: user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5103
          env:
            - name: PORT
              value: "5103"
            - name: MONGODB_URI
              value: "mongodb://mongodb-user:27017/user_db"
            - name: AUTH_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: AUTH_SERVICE_URL
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 5103
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 5103
            initialDelaySeconds: 10
            periodSeconds: 5
